@import 'reset.css';

a {
    color: #92a11d;
}

.clear {
    clear: both;
}

body {
    margin-top: 0px;
    background: url('/images/bg-tile.gif') top left;
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
    font-size: 80%;
    text-align: center;
}

#outer {
    width: 813px;
    margin: 0 auto;
    background: url('/images/body-tile.png') repeat-y;
    text-align: center;
}

#inner {
    margin: 0 7px;
    text-align: center;
}


#footer {
    width: 813px;
    _width: 777px;
    margin: 0 auto;
    background: url('/images/footer.png') bottom left no-repeat;
    min-height: 30px;
    margin-bottom: 30px;
    text-align: left;
}

#footer span {
    padding: 18px;
    width: 100%;
    display: block;
    font-size: 80%;
}

#header {
    height: 78px;
    background: url('/images/header.png') top center no-repeat;
    width: 770px;
    margin: 0 auto;
}

#nav {
    float: right;
    height: 29px;
    margin-right: 25px;
}

#nav li {
    float: right;
    height: 100%;
    padding: 0;
    background: url('/images/nav-sprite.png') 0 0 no-repeat;
}

#nav li a {
    display: block;
    width: 100%;
    height: 100%;
}

#nav li a span {
    display: none;
}

#nav .submit { width: 100px; }
#nav .reviews { width: 93px; background-position: -110px 0; }
#nav .about { width: 75px; background-position: -203px 0; }

#content {
    width: 778px;
    background: url('/images/content-sprite.png') -778px repeat-y;
    margin: 0 auto;
    text-align: left;
}

#content-top {
    height: 12px;
    background: url('/images/content-sprite.png') 0 0 no-repeat;
}

#content-bottom {
    height: 12px;
    background: url('/images/content-sprite.png') -1556px 0 no-repeat;
}

#content-inner {
    float: left;
    width: 545px;
    font-size: 100%;
    padding: 0 10px 0 20px;
}

#sidebar {
    float: right;
    padding: 10px 0;
    width: 180px;
}

h1, h2, h3, h4, h5 {
    color: #aec023;
    font-size: 170%;
    padding: 5px 0 10px 0;
}

h2 { font-size: 150% }
h3 { font-size: 135% }
h4 { font-size: 120% }
h5 { font-size: 105% }

#sidebar h3 {
    color: #aec023;
    font-family: Arial, Verdana, "Sans-serif";
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 13px;
    padding-left: 8px;
    background: url('/images/sidebar_sep.png') bottom left no-repeat;
}


#sidebar ul {
    padding: 5px 10px;
    margin-bottom: 25px;
}

#sidebar ul li {
    padding: 1px 0;
    list-style-type: square;
    list-style-image: url('/images/sidebar_bullet.png');
    margin: 2px 0 0 10px;
}


#sidebar ul li a {
    display: block;
    padding: 5px 0;
    color: #333;
}

p {
    line-height: 18px;
    margin-bottom: 18px;
}

a.visit {
    width: 113px;
    height: 27px;
    display: block;
    background: url('/images/icon-sprite.png') 0 -17px no-repeat;
    margin: 9px 0;
}

a.visit span {
    display: none !important;
    font-size: 1%;
}

.comments {
    margin-top: 50px;
}

.comments h3 {
    font-size: 135%;
}
.comments .icon {
    background: url('/images/icon-sprite.png') 4px 3px no-repeat;
    display: block;
    width: 30px;
    height: 19px;
    font-size: 1%;
    float: left;
}

.arrow-point {
    background: #fff url('/images/icon-sprite.png') 0 -44px no-repeat;
    display: block;
    height: 16px;
    width: 20px;
    padding: 0 2px;
    float: left;
}

.host {
    float: left;
    width: 340px;
}
#info {
    float: right;
    width: 169px;
    margin-left: 10px;
}


#info table {
    background: url('/images/rating.png') top left no-repeat;
    width: 100%;
    height: 128px;
    font-size: 85%;
    padding: 6px;
}

#info table tr {
    background: url('/images/dots.png') bottom left repeat-x;
}

#info table td, #info table th {
    padding: 0 7px;
    vertical-align: middle;
}

#info table th {
    text-align: right;
    font-weight: bold;
}

#info table td {
    width: 48%;
}

#info div {
    text-align: center;
    padding: 7px 0;
}

.stars {
    background: url('/images/star-sprite.png') 0 0 no-repeat;
    width: 60px;
    height: 13px;
    display: block !important;
    font-size: 1%;
}

.stars05 { background-position: 0 -12px; }
.stars10 { background-position: 0 -26px; }
.stars15 { background-position: 0 -39px; }
.stars20 { background-position: 0 -53px; }
.stars25 { background-position: 0 -67px; }
.stars30 { background-position: 0 -81px; }
.stars35 { background-position: 0 -94px; }
.stars40 { background-position: 0 -108px; }
.stars45 { background-position: 0 -122px; }
.stars50 { background-position: 0 -135px; }

.comment {
    background: url('/images/comment-sprite.png') 0 0 no-repeat;
    width: 514px;
    margin: 20px 0;
    display: block;
    border: 1px solid #fff;
}

.comments ul li .text {
    margin: 0;
    padding: 20px;
    margin-left: 20px;
    line-height: 19px;
}

.comments .meta {
    padding: 20px 20px 0 20px;
    margin-left: 20px;
    font-style: italic;
}

.comments ul li .comment-bottom {
    background: url('/images/comment-sprite.png') 0 -2866px no-repeat;
    display: block;
    height: 14px;
    font-size: 1%;

}

.comments .positive {
    background-position: -514px 0;
}
.comments .positive .comment-bottom {
    background-position: -514px -2866px;
}

.comments .neutral {
    background-position: -1028px 0;
}
.comments .neutral .comment-bottom {
    background-position: -1028px -2866px;
}

.comments .negative {
    background-position: -1542px 0;
}
.comments .negative .comment-bottom {
    background-position: -1542px -2866px;
}

#purchase {
    padding: 5px 0;
    font-size: 120%;
    line-height: 22px;
}

.ratings {
    margin-left: 35px;
    padding: 0 7px;
    font-size: 85%;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ratings tr, .ratings th, .ratings td {
    display: inline;
    float: left;
    padding: 4px 3px;
}

.ratings th {
    padding-top: 5px;
}
.ratings tr {
    padding: 4px 12px;
}

.author .name {
    color: #000;
    font-size: 130%;
}

.author .name a {
    color: #92a11d;
}

.author {
    color: #aaa;
    line-height: 20px;
    float: left;
}

.tools {
    font-size: 80%;
    float: right;
    color: #999;
    display: none;
}

.tools a {
    color: inherit;
}

.rating {
    margin: 0;
}

.comment-form {
    font-size: 90%;
}

.comment-form table th, .comment-form table td {
    padding: 4px 0;
}

.comment-form table th {
    width: 8%;
    vertical-align: middle !important;
}

.comment-form table td {
    width: 35%;
    vertical-align: middle !important;
}

.comment-form .rating {
}

.comment-form .textarea {
    vertical-align: top !important;
}

.comment-form .optional {
    color: grey;
}


.comment-form small {
    color: grey;
    font-size: 80%;
}

.leaderboard {
    width: 100%;
    font-size: 150%;
    border: 1px solid #ccc;
    background: #fafafa;
    margin: 1px;
    padding: 1px;
}

.leaderboard th {
    padding: 8px;
    font-size: 60%;
    color: #444;
    background-color: #dedede;
}

.leaderboard td span, #info div span {
    display: block;
    font-size: 55%;
    padding: 2px;
    color: gr1y;
    margin: 2px 0;
}

.leaderboard td {
    padding: 15px;
    color: #222;
    vertical-align: top;
}

.leaderboard td.rank {
    font-size: 60%;
    padding: 15px 10px;
    color: grey;

}

.even {
    background-color: #f1f1f1;
}

.odd {
    background-color: #fff;
}

.alt {
    background-color: #eee;
}

.hidden {
    display: none;
}

.errorlist {
    color: red;
    padding: 7px 0 0 5px;
}

#errors, #success {
    padding: 5px;
    margin: 10px 0;
    font-weight: bold;
    border: 1px solid grey;
    background-color: #eeecb6;
}

#errors li, #success li {
    padding: 3px 0;
}

#errors {
    color: red;
    border-color: red;
}

#success {
    color: green;
    border-color: green;
}

.rank {
    font-size: 240%;
    font-weight: bold;
    text-align: center;
    color: #616b13;
    padding: 3px;
    margin: 11px 0;
}

.logo {
    padding: 3px;
    border: 1px solid #ddd;
    margin-left: 5px;
    width: 100px;
    float: right;
}

.rank span {
    font-size: 35% !important;
    font-weight: normal !important;
}

#breadcrumbs {
    padding: 1px 0 9px 0;
}

.dots {
    background: url('/images/dots.png') left bottom repeat-x;
}

.desc {
    line-height: 19px;
}

.nodots {
    background-image: none !important;
}
