@import 'reset.css';

a {
    color: #92a11d;
}

.clear {
    clear: both;
}

body {
    background: url('/media/images/bg-tile.gif') top center;
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
    font-size: 80%;
    text-align: center;
}

#outer {
    width: 813px;
    margin: 0 auto;
    background: url('/media/images/body-tile.png') top center repeat-y;
    text-align: center;
    padding: 0;
    border-width: 0;
}

#inner {
    text-align: center;
}


#footer {
    width: 813px;
    _width: 777px;
    margin: 0 auto;
    background: url('/media/images/footer.png') top center no-repeat;
    margin-bottom: 30px;
    text-align: left;
    border: 0;
}

#footer span {
    padding: 18px;
    display: block;
    font-size: 80%;
    float: left;
}

#header {
    height: 78px;
    background: url('/media/images/header.png') top center no-repeat;
    width: 770px;
    margin: 0 auto;
    position: relative;
}

#nav {
    float: right;
    height: 29px;
    margin-right: 25px;
}

#nav li {
    float: right;
    height: 100%;
    padding: 0;
    background: url('/media/images/nav-sprite.png') 0 0 no-repeat;
}

#nav li a {
    display: block;
    width: 100%;
    height: 100%;
}

#nav li a span {
    display: none;
}

#nav #tophosts { width: 79px; background-position: -100px 0; }
#nav #directory { width: 103px; background-position: -254px 0; }
#nav #faq { width: 48px; background-position: -358px 0; }
#nav #submit { width: 102px; }
#nav #about { width: 75px; background-position: -181px 0; }

#nav .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #ff9c00;
}

#content {
    width: 778px;
    background: url('/media/images/content-sprite.png') -778px repeat-y;
    margin: 0 auto;
    text-align: left;
}

#content-top {
    height: 12px;
    background: url('/media/images/content-sprite.png') 0 0 no-repeat;
}

#content-bottom {
    height: 12px;
    background: url('/media/images/content-sprite.png') -1556px 0 no-repeat;
}

#content-inner {
    float: left;
    width: 545px;
    font-size: 100%;
    padding: 0 10px 0 20px;
}

#sidebar {
    float: right;
    padding: 10px 0;
    width: 180px;
}

h1, h2, h3, h4, h5 {
    color: #aec023;
    font-size: 170%;
    padding: 7px 0 10px 0;
}

h1 { line-height: 24px; }
h2 { font-size: 150%; line-height: 24px; }
h3 { font-size: 135% }
h4 { font-size: 120% }
h5 { font-size: 105% }

#sidebar h3 {
    color: #aec023;
    font-family: Arial, Verdana, "Sans-serif";
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 13px;
    padding-left: 8px;
    background: url('/media/images/sidebar_sep.png') bottom left no-repeat;
    margin-top: 25px;
}


#sidebar ul, #sidebar div {
    width: 90%;
    font-size: 95%;
    padding: 5px 10px;
}

#sidebar div {
    padding-bottom: 15px;
}

#sidebar div ul {
    margin-bottom: 0px !important;
}

#sidebar ul li {
    padding: 4px 0;
    list-style-type: square;
    list-style-image: url('/media/images/sidebar_bullet.png');
    margin: 2px 0 0 25px;
    color: #777;
}


#sidebar ul li a {
    color: #222;
    line-height: 18px;
}

#top_hosts li {
    list-style-type: decimal !important;
    list-style-image: none !important;
}

#top_hosts li span {
    font-size: 85%;
}


p {
    line-height: 18px;
    margin-bottom: 18px;
}

#info a.visit {
    width: 113px;
    height: 27px;
    display: block;
    background: url('/media/images/icon-sprite.png') 0 -17px no-repeat;
    margin: 9px 0;
}

#info a.visit span {
    display: none !important;
    font-size: 1% !important;
}

.comments {
    margin-top: 50px;
}

.comments h3 {
    font-size: 135%;
}
.comments .icon {
    background: url('/media/images/icon-sprite.png') 4px 3px no-repeat;
    display: block;
    width: 30px;
    height: 19px;
    font-size: 1%;
    float: left;
}

.arrow-point {
    background: #fff url('/media/images/icon-sprite.png') 0 -44px no-repeat;
    display: block;
    height: 16px;
    width: 20px;
    padding: 0 2px;
    float: left;
}

.host {
    float: left;
    width: 350px;
}
#info {
    float: right;
    width: 169px;
    margin-left: 10px;
}


#info table {
    background: url('/media/images/rating.png') top left no-repeat;
    width: 100%;
    height: 128px;
    font-size: 85%;
}

#info table tr {
    background: url('/media/images/dots.png') bottom left repeat-x;
}

#info table td, #info table th {
    padding: 0 7px;
    vertical-align: middle;
}

#info table th {
    text-align: right;
    font-weight: bold;
}

#info table td {
    width: 48%;
}

#info div {
    text-align: center;
    padding: 7px 0;
}

.stars {
    background: url('/media/images/star-sprite.png') 0 0 no-repeat;
    width: 60px;
    height: 13px;
    display: block !important;
    font-size: 1%;
}

.stars05 { background-position: 0 -12px; }
.stars10 { background-position: 0 -26px; }
.stars15 { background-position: 0 -39px; }
.stars20 { background-position: 0 -53px; }
.stars25 { background-position: 0 -67px; }
.stars30 { background-position: 0 -81px; }
.stars35 { background-position: 0 -94px; }
.stars40 { background-position: 0 -108px; }
.stars45 { background-position: 0 -122px; }
.stars50 { background-position: 0 -135px; }

.comment {
    background: url('/media/images/comment-sprite.png') 0 0 no-repeat;
    width: 514px;
    margin: 20px 0;
    display: block;
    border: 1px solid #fff;
}

.comments ul li .text {
    margin: 0;
    padding: 20px;
    margin-left: 20px;
    line-height: 19px;
}

.comments .meta {
    padding: 20px 20px 0 20px;
    margin-left: 20px;
    font-style: italic;
}

.comments ul li .comment-bottom {
    background: url('/media/images/comment-sprite.png') 0 -2866px no-repeat;
    display: block;
    height: 14px;
    font-size: 1%;

}

.comments .positive {
    background-position: -514px 0;
}
.comments .positive .comment-bottom {
    background-position: -514px -2866px;
}

.comments .neutral {
    background-position: -1028px 0;
}
.comments .neutral .comment-bottom {
    background-position: -1028px -2866px;
}

.comments .negative {
    background-position: -1542px 0;
}
.comments .negative .comment-bottom {
    background-position: -1542px -2866px;
}

#purchase {
    padding: 5px 0;
    font-size: 120%;
    line-height: 22px;
}

.ratings {
    margin-left: 35px;
    padding: 0 7px;
    font-size: 85%;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ratings tr, .ratings th, .ratings td {
    display: inline;
    float: left;
    padding: 4px 3px;
}

.ratings th {
    padding-top: 5px;
}
.ratings tr {
    padding: 4px 12px;
}

.author .name {
    color: #000;
    font-size: 130%;
}

.author .name a {
    color: #92a11d;
}

.author {
    color: #aaa;
    line-height: 20px;
    float: left;
}

.tools {
    font-size: 80%;
    float: right;
    color: #999;
    display: none;
}

.tools a {
    color: inherit;
}

.rating {
    margin: 0;
}

.comment-form {
    font-size: 90%;
}

.comment-form table th, .comment-form table td {
    padding: 5px 0;
}

.comment-form table th {
    width: 6%;
    vertical-align: middle !important;
}

.comment-form table td {
    width: 35%;
    vertical-align: middle !important;
}

.comment-form .rating {
    margin: 0;
}

.comment-form .textarea {
    vertical-align: top !important;
}

.comment-form .optional {
    color: grey;
}


.comment-form small {
    color: grey;
    font-size: 80%;
}

.leaderboard {
    width: 100%;
    font-size: 150%;
    border: 1px solid #ccc;
    background: #fafafa;
    margin: 1px;
    padding: 1px;
}

.leaderboard th {
    padding: 8px;
    font-size: 60%;
    color: #444;
    background-color: #dedede;
    text-align: left;
}

.leaderboard td span, #info div span {
    display: block;
    font-size: 55%;
    padding: 2px;
    color: gr1y;
    margin: 2px 0;
}

.leaderboard td {
    padding: 15px;
    color: #222;
    vertical-align: top;
}

.leaderboard td.rank {
    font-size: 60%;
    padding: 15px 10px;
    color: grey;
    width: 12%;
}

.leaderboard td.percentage {
    font-weight: bold;
    color: #111;
}

.leaderboard td.percentage span {
    font-weight: normal;
}

.leaderboard td.bigname {
    font-size: 120%;
}

.even {
    background-color: #f1f1f1;
}

.odd {
}

.alt {
    background-color: #eee;
}

.hidden {
    display: none;
}

.errorlist {
    color: red !important;
    padding: 7px 0 0 5px !important;
}

.errors, .success {
    padding: 5px;
    margin: 10px 0;
    font-weight: bold;
    border: 1px solid grey;
    background-color: #eeecb6;
}

.errors li, .success li {
    padding: 3px 0;
}

.error {
    color: red !important;
    border-color: red !important;
}

.success {
    color: green !important;
    border-color: green !important;
}

.rank {
    font-size: 240%;
    font-weight: bold;
    text-align: center;
    color: #616b13;
    padding: 3px;
    margin: 11px 0;
}

.logo {
    padding: 3px;
    border: 1px solid #ddd;
    margin-left: 5px;
    width: 200px;
    float: right;
}

.rank span {
    font-size: 35% !important;
    font-weight: normal !important;
}

#breadcrumbs {
    padding: 1px 0 9px 0;
}

.dots {
    background: url('/media/images/dots.png') left bottom repeat-x;
}

.desc {
    line-height: 19px;
}

.nodots {
    background-image: none !important;
}

#logo {
    position: absolute;
    top: 9px;
    left: 28px;
    width: 236px;
    height: 60px;
}

#logo span {
    display: none !important;
    font-size: 1%;
}

.category {
    padding: 15px;
}
.category h3 {
    float: left;
    margin: 0 0 10px;
    padding: 0;
    line-height: 18px;
}


.category span {
    padding: 4px 6px;
    display: block;
    float: left;
    color: #666;
    font-size: 80%;
}


#footer ul {
    float: right;
    padding: 18px;
    display: block;
    font-size: 80%;
}

#footer ul li {
    display: inline;
    float: left;
    padding: 0 7px;
    border-right: 1px solid #ccc;
}

.noborder {
    border-width: 0px !important;
}

.strong {
    font-weight: bold !important;
}

.nav-text {
    position: absolute;
    right: 35px;
    bottom: 7px;
    padding: 5px 5px 5px 33px;
}

#twitter {
    background: url('/media/images/icons/twitter.png') top left no-repeat;
}

ul.normal, ul.normal li ul {
    padding: 5px 0 10px 35px;
}

ul.normal li {
    padding: 5px 0;
    list-style: square;
}


.nomargin {
    margin: 0 !important;
}

.entry ul, .entry ol {
    margin-left: 25px;
}

.entry ul li, .entry ol li {
    padding: 6px 0;
}

.entry ul {
    list-style-type: square;
}

.entry ol {
    list-style-type: decimal;
}

.more, .read {
    display: none;
}

.quotes {
    font-size: 120%;
    margin-bottom: 10px;
}

.quotes li {
    padding: 10px;
}

.quotes li a {
    font-size: 80%;
}

.quotes li.alt {
    background: #f2f2f2;
}

.v { display: none; }
.genetify_disabled { display: none !important; } 
.genetify_enabled { display: block !important; } 

