@import 'reset.css';

body {
    margin-top: 0px;
    background: url('images/bg-tile.gif') top left;
    font-family: Verdana, Tahoma, Sans-Serif;
    font-size: 80%;
}

#outer {
    width: 813px;
    margin: 0 auto;
    background: url('images/body-tile.png') repeat-y;
}

#inner {
    margin: 0 7px;
}


#footer {
    width: 813px;
    margin: 0 auto;
    background: url('images/footer.png') bottom left no-repeat;
    min-height: 25px;
}

#footer span {
    padding: 16px;
    font-size: 80%;
}

#header {
    height: 78px;
    background: url('images/header.png') top center no-repeat;
}

#nav {
    float: right;
    height: 29px;
    margin-right: 25px;
}

#nav li {
    float: right;
    height: 100%;
    padding: 9px 0;
    background: url('images/nav-sep.png') no-repeat;
}

#nav li a {
    padding: 6px 18px;
    color: black;
    font-size: 93%;
}
