{% import 'macros.html' as macros with context %}

{% include 'header.html' %}

<div id="content">
    <div id="content-top"></div>
    <div id="content-inner">
        {% if messages %}
            {% if messages['success'] %}
                <ul id="success">
                {% for message in messages['success'] %}
                     <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% elif messages['errors'] %}
                <ul id="errors">
                 {% for message in messages['success'] %}
                     <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}

        {% block content %}

        {% endblock %}
    </div>

    {% include 'sidebar.html' %}

    <div class="clear"></div>
    <div id="content-bottom"></div>
</div>

{% include 'footer.html' %}
