                </div>
            </div>
        <div id="footer">
            <span>&copy; 2009 Hosting Choice</span>
        </div>

        <script type="text/javascript">

            $('#errors').fadeIn(1500);
            $('#success').fadeIn(1500);

            $(document).ready(function() {
                var types = ['features', 'support', 'uptime']
                for (key in types) {
                    var name = 'id_rating_' + types[key];
                    var val_name = name+'_val'

                    var curvalue = $('#'+val_name).val()

                    $('#'+name).rating(val_name, {maxvalue: 5, curvalue: curvalue});

                }

            });

            $('.comment').hover(
                function(){ $(this).find(".tools").show() },
                function(){ $(this).find(".tools").hide() });

        </script>
    </body>
</html>
