<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}Hosting Choice{% endblock %}</title>

        <link rel="stylesheet" href="/static/js/jquery/rating/rating.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/js/jquery/rating/jquery.js"></script>
        <script src="/static/js/jquery/rating/rating.js"></script>

    </head>
    <body>
        <div id="outer">
            <div id="inner">

                <div id="header">
                    <ul id="nav">
                        <li class="about"><a href="#about"><span>About Us</span></a></li>
                        <li class="reviews"><a href="#hosting"><span>Hosting Reviews</span></a></li>
                        <li class="submit"><a href="#submit"><span>Submit A Host</span></a></li>
                    </ul>
                </div>
