{%- extends 'base.html' -%}

{%- block content -%}
{% if host %}
    <div class="host" id="host-{{host.id}}">
        <h1>{{host.name}} Hosting Review</h1>

        <div id="info">
            <p class="rank">{{ host.percentage() | smart_round }}%</p>
            <ul id="ratings">
                {%- call macros.Ratings(host.ratings()) %}
                {% endcall -%}
            </ul>
            <div clear="all"></div>
            <a class="visit" href="#"><span>Idologic</span></a>
        </div>

        <p class="desc">
        {%- if host.image -%}
            <img src="/static/media/hosts/{{host.image}}" class="logo" />
        {%- endif -%}
        {{host.description}}</p>
        <p class="clear" id="purchase"><span class="arrow-point"></span>
        <a href="#">
            Purchase Web Hosting from <strong>{{host.name}}</strong> for only $9.99/month
        </a></p>
    </div>

    {%- include 'comments.html' -%}
{% else %}
    <p>Cannot find host.</p>
{% endif %}
{%- endblock -%}
