{%- extends 'base.html' -%}

{%- block content -%}
{% if host %}
    <div class="host" id="host-{{host.id}}">
        <h1>{{host.name}} Hosting Review</h1>

        <div id="info">
            <p class="rank">{{ host.percentage() | smart_round }}%</p>
            <table>
                {%- call macros.Features(host.feature_set.all()) %}
                {% endcall -%}
                {%- call macros.Ratings(host.ratings()) %}
                {% endcall -%}
            </table>
            <div align="center">
                <a class="visit" href="#"><span>Idologic</span></a>
            </div>
        </div>

        <p class="desc">
        {%- if host.image -%}
            <img src="/static/media/hosts/{{host.image}}" class="logo" />
        {%- endif -%}
        {{host.description}}
           <p id="purchase"><span class="arrow-point"></span>
            <a href="#">
                Purchase Web Hosting from <strong>{{host.name}}</strong> for only $9.99/month
            </a>
          </p> 
        </p>

        <div class="clear"></div>
    </div>

    {%- include 'comments.html' -%}
{% else %}
    <p>Cannot find host.</p>
{% endif %}
{%- endblock -%}
