<div class="page" id="404error">
    <h1>404 Error: Page Not Found</h1>
    <p><strong>Oops!</strong>. We messed up.
    There was an error while finding the page <strong>{{request_path}}</strong>.
    We do our best to prevent this, but we're human. Accept our apologies and take
    a look at our <a href="/sitemap.html">Sitemap</a>, <a href="/faq.html">FAQ</a>,
    or <a href="/leaderboard.html">Top 10 Web Hosts</a>. to find what you're
    looking for.</p>

    <p>The good news is the webmaster has been notified and will take care
    of this shortly. Thanks for helping out!</p>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        try {
            var pageTracker = _gat._getTracker("UA-6961171-1");
            pageTracker._trackPageview("/404.html?page=" + document.location.pathname + document.location.search + "&from=" + document.referrer);
            pageTracker._trackPageview();
        } catch(err) {}
    </script>   
</div>
