{% extends 'base.html' %}

{% block breadcrumbs %}
    {{ super() }} &raquo; <a href="/blog.html">Blog</a> &raquo;
    <strong>{{ entry.name }}</strong>
{% endblock %}

{% block title -%}
    {{ entry.name }} - {{ super() }}
{%- endblock %}

{% block meta_description -%}
    {{ entry.text | striptags | truncate }}
{%- endblock %}


{% block content -%}
<div class="page blog" id="blog-{{entry.slug}}">
     {% call macros.BlogEntry(entry, true) %}
        <p id="plug">Searching for web hosting? Let <strong>Hosting
                Choice</strong> help. We select the <a
                href="/leaderboard.html">top 10 web hosts</a> from user reviews.
            We provide the <a href="/">best web hosting</a> advice in
            town, not to mention the <a href="/">cheapest web hosting</a>.
            Don't leave web hosting to chance, trust <strong>Hosting
                Choice</strong>.</p>
     {% endcall %}
</div>
{%- endblock %}
