{%- import 'macros.html' as macros with context -%}
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {%- block head %}
            <title>{%- block title -%}Hosting Choice{%- endblock -%}</title>


            <link rel="stylesheet" href="/media/css/style.css" />

            <link rel="stylesheet" href="/media/js/jquery/rating/rating.css" />
            <script src="/media/js/jquery/jquery-1.2.6.min.js"></script>
            <script src="/media/js/jquery/rating/rating.js"></script>

            <script src="/media/js/jquery/ajaxify/jquery.livequery.pack.js" type="text/javascript"></script>
            <script src="/media/js/jquery/ajaxify/jquery.ajaxify.js" type="text/javascript"></script>
            <script src="/media/js/jquery/ajaxify/jquery.history.fixed.js" type="text/javascript"></script>
            <script src="/media/js/jquery/ajaxify/jquery.metadata.min.js" type="text/javascript"></script>
            <script src="/media/js/host_init.js"></script>


            <meta name="keywords" content="{% block meta_keywords -%}
                web hosting reviews, top 10 web hosts, web hosts,
                top web hosting, hosting reviews
                {%- endblock %}" />

            <meta name="description" content="{% block meta_description %}Hosting Choice helps you find a quality host at a good price. There are too many hosts to choose from. Let Hosting Choice help. We'll sort through the confusion and recommend our favorite picks.{% endblock %}" />
            <meta name="blogcatalog" content="9BC9115244" />
            <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://hosting-choice.com/feeds/latest.xml" />
        {% endblock -%}
    </head>
    <body>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            try {
                var pageTracker = _gat._getTracker("UA-6961171-1");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
        <div id="outer">
            <div id="inner">
                <div id="content">
                    <div id="content-top"></div>
                    <div id="content-inner">
                        {% block breadcrumbsdiv %}
                            <div id="breadcrumbs" class="dots">
                                {% block breadcrumbs %}
                                    <a href="/" title="Home">Home</a>
                                {% endblock %}
                            </div>
                        {% endblock %}
                        {% block content %}
                        {% endblock %}
                    </div>

                    <div id="sidebar">
                        {% block sidebar %}
                            {% include 'sidebar.html' %}
                        {% endblock %}
                    </div>

                    <div class="clear"></div>
                    <div id="content-bottom"></div>
                    <div id="header">
                        <a href="/" id="logo" title="Home"><span>Hosting Choice Home</span></a>

                        <ul id="nav">
                            <li class="
                                {%- if active_page == 'about' -%}
                                    active
                                {%- endif %}" id="about">
                                <a href="/about.html"><span>About Us</span></a>
                            </li>
                            <li class="
                                {%- if active_page == 'submit' -%}
                                    active
                                {%- endif %}" id="submit">
                                <a href="/submit.html"><span>Submit A Host</span></a>
                            </li>
                            <li class="
                                {%- if active_page == 'faq' -%}
                                    active
                                {%- endif %}" id="faq">
                                <a href="/faq.html"><span>FAQ</span></a>
                            </li>
                            <li class="
                                {%- if active_page == 'directory' -%}
                                    active
                                {%- endif %}" id="directory">
                                <a href="/hosts.html"><span>Host Directory</span></a>
                            </li>
                            <li class="
                                {%- if active_page == 'leaderboard' -%}
                                    active
                                {%- endif %}" id="tophosts">
                                <a href="/leaderboard.html"><span>Top 10 Web Hosts</span></a>
                            </li>
                        </ul>
                        <a class="nav-text" id="twitter" href="http://twitter.com/hostchoice">
                            Follow <strong>HostingChoice</strong> on twitter
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            {%- block footer -%}
                {% include 'footer.html' %}
            {%- endblock -%}
        </div>
        <script>
            if(typeof(urchinTracker)!='function')document.write('<sc'+'ript src="'+
            'http'+(document.location.protocol=='https:'?'s://ssl':'://www')+
            '.google-analytics.com/urchin.js'+'"></sc'+'ript>')
        </script>

        <!-- Crazy Egg -->
        <script type="text/javascript" src="http://cetrk.com/pages/scripts/0002/0407.js"> </script>

        <!-- Statcounter -->
        <script type="text/javascript">
            var sc_project=4410292; 
            var sc_invisible=1; 
            var sc_partition=55; 
            var sc_click_stat=1; 
            var sc_security="de59d2bc"; 
            </script>
        <script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><img class="statcounter" src="http://c.statcounter.com/4410292/0/de59d2bc/1/" alt="free hit counters" /></noscript>
    </body>
</html>
