<a name="comments"></a>
<div id="comments-{{host.id}}" class="comments">
    <h2><span class="icon"></span>{{ host.comments() | length }} {{host.name}} Web Hosting Reviews</h2>

    <ul id="review-list">

        {% if host.comments() %}
        {% for comment in host.comments() %}
            {% include 'comment.html' %}
        {% endfor %}
        {% else %}
            <li><p>There aren't any reviews for <strong>{{host.name}}</strong> yet, they must be new.
            Do you have experience with <strong>{{host.name}}</strong>?
            Share them by <a href="#comment-form">writing a review</a> below.</p></li>
        {% endif %}
    </ul>
</div>

{% include 'comment_form.html' %}
