<a name="comments"></a>
<div id="comments-{{host.id}}" class="comments">
    <h2><span class="icon"></span>{{ host.comments() | length }} {{host.name}} Web Hosting Reviews</h2>

    <ul id="review-list">

        {% if host.comments() %}
        {% for comment in host.comments() %}
        <li class="
            {%- call macros.get_rating_mood(comment.rating()) -%}
                comment
            {%- endcall -%}">
                <div class="meta">
                    <span class="author">
                        <span class="name">
                            {% if comment.website %}
                                <a href="{{comment.website}}">
                                    {{comment.name}}
                                </a>
                            {% else %}
                                {{comment.name}}
                            {% endif %}
                        </span> Says:<br />
                        {{ comment.date | datetimeformat('%B %d, %Y, %I:%M%p')  }}
                    </span>
                    <span class="tools">
                        <a rel="nofollow" href="/comment/helpful/{{comment.id}}.html">This review was helpful</a> or
                        <a rel="nofollow" href="/comment/report/{{comment.id}}.html">Report abuse</a>
                    </span>
                    <div class="clear"></div>
                </div>

                <div class="text">{{comment.text}}</div>

                {% if comment.ratings() %}
                    <table class="ratings">
                        {% call macros.Ratings(comment.ratings()) %}
                        {% endcall %}
                    </table>
                {% endif %}
                <span class="comment-bottom"></span>
            </li>
        {% endfor %}
        {% else %}
            <li><p>There aren't any reviews for <strong>{{host.name}}</strong> yet, they must be new.
            Do you have experience with <strong>{{host.name}}</strong>?
            Share them by <a href="#comment-form">writing a review</a> below.</p></li>
        {% endif %}
    </ul>
</div>

{% include 'comment_form.html' %}
