<a name="comment-form"></a>
<div id="comment-form-{{host.id}}" class="comment-form">
   <h3>Create A New Review For Idologic</h3>
    <p>Do you have experience using
    <strong>{{host.name}} Web Hosting</strong>?
    Write a review for <strong>{{host.name}}</strong> 
    below. Be sure to rate your experiience so others know what to expect from
    <strong>{{host.name}} hosting</strong>.</p>

    {% if messages %}
        {% if messages['success'] %}
            <ul id="success">
            {% for message in messages['success'] %}
                 <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% elif messages['errors'] or form.errors %}
            <ul id="errors">
             {% for message in messages['success'] %}
                 <li>{{ message }}</li>
            {% endfor %}
            {% if form.errors %}
                <li>There was an error submitting your review. Please correct
                the error(s) below and re-submit your comment.</li>
            {% endif %}
        </ul>
        {% endif %}
    {% endif %}


    <form action="/host/{{host.slug}}.html#comment-form" method="post">
        {{ form.rating_features_val }}
        {{ form.rating_uptime_val }}
        {{ form.rating_support_val }}
        <table cellspacing="0">
            <tr>
                <th><label for="id_name">Name:</label></th>
                <td>
                    {{ form.name }}
                    {{ form.name.errors }}
                </td>
                <th><label for="id_rating_features">Features:</label></th>
                <td>
                    <div id="id_rating_features" class="rating"></div>
                </td>
            </tr>
            <tr>
                <th><label for="id_email">Email:</label></th>
                <td>
                    {{ form.email }}
                    {{ form.email.errors }}
                </td>
                <th><label for="id_rating_uptime">Uptime:</label></th>
                <td>
                    <div id="id_rating_uptime" class="rating"></div>
                </td>
            </tr>
            <tr>
                <th class="optional"><label for="id_website">Website</label>:</th>
                <td>
                    {{ form.website }}
                    <small>(Optional)</small>
                    {{ form.website.errors }}
                </td>
                <th><label for="id_rating_support">Support:</label></th>
                <td>
                    <div id="id_rating_support" class="rating"></div>
                </td>
            </tr>
            <tr>
                <th class="textarea"><label for="id_text">Review:</label></th>
                <td colspan="3">
                    {{ form.text }}
                    <br /><small>Simple HTML is allowed,
                        &lt;b&gt;, &lt;i&gt;, &lt;u&gt;, &lt;p&gt;.</small>
                    {{ form.text.errors }}
                </td>
            </tr>
            <tr>
                <th></th>
                <td colspan="3">
                    <input tabindex="5" type="submit" />
                </td>
            </tr>
        </table>
    </form>



</div>
