<li class="
    {%- call macros.get_rating_mood(comment.rating()) -%}
        comment{%- endcall -%}" id="comment-{{comment.id}}">
    <div class="meta">
        <span class="author">
            <span class="name">
                {% if comment.website %}
                    <a href="{{comment.website}}">
                        {{comment.name}}
                    </a>
                {% else %}
                    {{comment.name}}
                {% endif %}
            </span> Says:<br />
            {{ comment.date | datetimeformat('%B %d, %Y, %I:%M%p')  }}
        </span>
    </div>

    <div class="text">{{comment.text|markup}}</div>

    {% if comment.ratings() %}
        <table class="ratings">
            {% call macros.Ratings(comment.ratings()) %}
            {% endcall %}
        </table>
    {% endif %}
    <span class="comment-bottom"></span>
</li>

