                </div>
            </div>
        <div id="footer">
            <span>&copy; 2009 Hosting Choice</span>
            <ul>
                <li><a href="/leaderboard.html">Top 10 Web Hosts</a></li>
                <li><a href="/hosts.html">Hosting Directory</a></li>
                <li><a href="/submit.html">Submit A Host</a></li>
                <li><a href="/faq.html">FAQ</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/sitemap.html">Sitemap</a></li>
                <li><a href="/terms.html">TOS</a></li>
                <li><a href="/privacy.html">Privacy</a></li>
                <li class="noborder"><a href="/admin/" rel="nofollow">Admin</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <script type="text/javascript">
            {% if host -%}
                $(document).ready(function() {
                    $('[class=visit]').each(function() {
                        $(this).attr('href', "/visit/{{host.slug}}.html");
                        $(this).click(function() {
                            pageTracker._trackEvent('Hit')
                        });
                    });
                });
            {%- endif %}
        </script>
        <script type="text/javascript" src="http://cetrk.com/pages/scripts/0002/0407.js"> </script>
    </body>
</html>
