{%- extends 'base.html' -%}


{% block breadcrumbs %}
    {{ super() }} &raquo; <a href="/hosts.html" title="Hosts">Hosts</a>
    &raquo; <a href="/hosts/{{host.category.slug}}.html" title="{{host.category.name}}
        Reviews">{{host.category.name}}</a> &raquo;
    <strong>{{host.name}}</strong>
{% endblock %}


{% block head %}
    {{ super() }}
    <script src="/media/js/host_init.js"></script>
    <script>
    function utmx_section(){}function utmx(){}
    (function(){var k='0050799212',d=document,l=d.location,c=d.cookie;function f(n){
    if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return c.substring(i+n.
    length+1,j<0?c.length:j)}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
    d.write('<sc'+'ript src="'+
    'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
    +'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
    +new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
    </script><script>utmx("url",'A/B');</script>
        
{% endblock %}


{% block meta_keywords -%}
    {{ host.name }} Reviews, {{ host.name }} Web Hosting Reviews, {{ host.name }} Review, {{ super() }}
{%- endblock %}


{% block title -%}
    {% if host -%}
        {{ host.name }} Review - {{host.name }} Hosting Review -
    {%- endif %} {{ super() }}
{%- endblock %}


{% block meta_description -%}
    {{ host.description | truncate }}
{%- endblock %}

{%- block content -%}
{% if host %}
    <div class="host" id="host-{{host.id}}">
        <h1>{{host.name}} Hosting Review</h1>
        
        <div class="desc">
           {%- if host.image -%}
           <a href="javascript:" title="Visit {{host.name}}" class="visit">
               <img src="/media/images/{{host.image}}" class="logo" size="50%" />
            </a>
           {%- endif -%}
           <div class="text">{{host.description | read_more }}</div>

           <br />
           <p id="purchase"><span class="arrow-point"></span>
           <a href="javascript:" class="visit" title="Visit {{host.name}}">
               <span class="default_text">Purchase
                       <strong>Web Hosting</strong> from
                    <strong>{{host.name}}</strong>
                    {%- if host.features()['Price'] %}
                        for only {{host.features()['Price']}}
                    {%- endif -%}
                </span>
            </a>
          </p> 

           {% include 'quotes.html' %}
        </div>

    </div>
    <div id="info">
        <div class="rank">
            {{ host.percentage() | smart_round }}%
        
            <span>(<a href="/host/{{host.slug}}.html#comments">{{
                                host.comment_set.filter(active=1) | length }}
                                Reviews</a>)</span>

        </div>
        <table>
            {%- call macros.Features(host.feature_set.all().order_by('type')) %}
            {% endcall -%}
            {%- call macros.Ratings(host.ratings()) %}
            {% endcall -%}
        </table>
        <div>
            <a class="visit" href="#" title="Visit {{host.name}}">
                <span>{{host.name}}</span></a>
        </div>
    </div>


    <div class="clear"></div>
    {%- include 'comments.html' -%}
{% else %}
    <p>Cannot find host.</p>
{% endif %}
{%- endblock -%}

{% block footer %}
    {{ super() }}
    <script>
        if(typeof(urchinTracker)!='function')document.write('<sc'+'ript src="'+
        'http'+(document.location.protocol=='https:'?'s://ssl':'://www')+
        '.google-analytics.com/urchin.js'+'"></sc'+'ript>')
    </script>
    <script>
        try {
        _uacct = 'UA-75770-5';
        urchinTracker("/0050799212/test");
        } catch (err) { }
    </script>

    
{% endblock %}
