{%- extends 'base.html' -%}


{% block breadcrumbs %}
    {{ super() }} &raquo; <a href="/hosts.html" title="Hosts">Hosts</a>
    &raquo; <a href="/hosts/{{host.category.slug}}.html" title="{{host.category.name}}
        Reviews">{{host.category.name}}</a> &raquo;
    <strong>{{host.name}}</strong>
{% endblock %}


{% block meta_keywords -%}
    {{ host.name }} Reviews, {{ host.name }} Web Hosting Reviews, {{ host.name }} Review, {{ super() }}
{%- endblock %}


{% block title -%}
    {% if host -%}
        {{ host.name }} Review -
    {%- endif %} {{ super() }}
{%- endblock %}


{% block meta_description -%}
    {{ host.description | truncate }}
{%- endblock %}

{%- block content -%}
{% if host %}
    <div class="host" id="host-{{host.id}}">
        <h1>{{host.name}} Review</h1>

        {%- if host.image -%}
           <a id="host_image" name="logo" href="{{host.get_visit_url()}}" title="Visit {{host.name}}" class="visit">
               <img alt="{{host.name}} Review - {{host.name}} Hosting Review" src="/media/images/{{host.image}}" class="logo" />
            </a>
       {%- endif -%}

        <a href="{{host.get_visit_url()}}" name="header" class="visit"
            id="header_visit" title="Visit {{host.name}}">Visit
            {{host.name}} &raquo;</a>

        <div class="clear"></div>

        {% call macros.Info_Table(host) %}
            {% call macros.Ratings(host.ratings()) %}
                <tr>
                    <th colspan="2">Ratings</th>
                </tr>
                <tr>
                    <td>Overall</td>
                    <td class="featured">{{ host.percentage() }}%</td>
                </tr>
            {% endcall %}
        {% endcall %}

        <div id="main">
            {% include 'summaries.html' %}
            {% include 'quotes.html' %}
            <div class="clear"></div>
            <a href="{{host.get_visit_url()}}" name="under_main"
               class="visit" id="under_main" title="Visit {{host.name}}">Visit
                {{host.name}} &raquo;</a>
        </div>
    </div>
    <div class="clear"></div>
    {%- include 'comments.html' -%}
    <hr />
    <h3>About {{host.name}}</h3>
    <p>{{host.description}}</p>

    <div id="commitment">
<h3>Our Commitment</h3>
<p>We strive to offer the <strong>best web hosting</strong>. We do
this with your help through user reviews. Our <strong>{{host.name}}
    Review</strong> is completely un-baised. The <strong>{{host.name}}
    reviews</strong> are from other webmasters that have actually used
<strong>{{host.name}} Web Hosting</strong>. If you have experience
with <strong>{{host.name}}</strong> please submit a review above. If
you're still researching hosts, check out or <a href="/leaderboard.html"
    title="top 10 web hosting">top 10 web hosting</a> list.</p>

<p>If you still have questions, please see our <a href="/blog.html">web hosting
    articles</a> or <a href="/faq.html">FAQ</a>.</p>

</div>


{% else %}
    <p>Cannot find host.</p>
{% endif %}
{%- endblock -%}

{% block footer %}
    {{ super() }}
{% endblock %}
