{%- extends 'base.html' -%}

{% block breadcrumbs %}
    {{ super() }}
    &raquo;
    <a href="/hosts.html" title="Hosts">Hosts</a>
    &raquo;
    <a href="/hosts/{{host.category.slug}}.html" title="{{host.category.name}}
        Reviews">{{host.category.name}}</a>
    &raquo;
    <strong>{{host.name}}</strong>
{% endblock %}

{% block head %}
    {{ super() }}
    <script src="/js/host_init.js"></script>
{% endblock %}

{% block title %}
    {% if host %}
        {{ host.name }} Web Hosting Reviews - {{host.name }} Reviews -
        {{ super() }}
    {% endif %}
{% endblock %}

{%- block content -%}
{% if host %}


    <div class="host" id="host-{{host.id}}">
        <h1>{{host.name}} Hosting Review</h1>
        
        <p class="desc">
           {%- if host.image -%}
           <a href="/visit/{{host.slug}}.html" title="Visit {{host.name}}">
               <img src="/images/{{host.image}}" class="logo" size="50%" />
            </a>
           {%- endif -%}
           {{host.description}}
           <p id="purchase"><span class="arrow-point"></span>
           <a href="/visit/{{host.slug}}.html">
                Purchase <strong>Web Hosting</strong> from
                <strong>{{host.name}}</strong>
                {%- if host.features()['Price'] %}
                    for only {{host.features()['Price']}}
                {%- endif -%}
            </a>
          </p> 
        </p>

    </div>
    <div id="info">
        <div class="rank">
            {{ host.percentage() | smart_round }}%
        
            <span>(<a href="/host/{{host.slug}}.html#comments">{{
                                host.comment_set.filter(active=1) | length }}
                                Reviews</a>)</span>

        </div>
        <table>
            {%- call macros.Features(host.feature_set.all().order_by('type')) %}
            {% endcall -%}
            {%- call macros.Ratings(host.ratings()) %}
            {% endcall -%}
        </table>
        <div>
            <a class="visit" href="/visit/{{host.slug}}.html" title="Visit {{host.name}}">
                <span>{{host.name}}</span></a>
        </div>
    </div>


    <div class="clear"></div>
    {%- include 'comments.html' -%}
{% else %}
    <p>Cannot find host.</p>
{% endif %}
{%- endblock -%}
