{% extends 'base.html' %}

{% block breadcrumbsdiv %}
{% endblock %}

{% block title -%}
    Best Web Hosting - {{ super() }}
{%- endblock %}


{% block content %}
    <div id="home">
        <h1>Best Web Hosting</h1>
        <p>Here is our pick for the <strong>best web hosting</strong>.
        If you need help finding a hosting plan, fill out a <a
            href="#leads">hosting quote</a>. Its free and you'll receive 
        offers custom fit to your needs. <a href="#leads">Receive hosting
            quotes</a>!</p>

        {% call macros.Leaderboard(hosts, 10) %}
       {% endcall %}

       <br />
        <p>Our <a href="/faq.html">FAQ</a> page is a great place to start if you've
        still have questions.</p>
        
    </div>
{% endblock %}
