{% extends 'base.html' %}

{% block breadcrumbsdiv %}
{% endblock %}

{% block title %}
    Web Hosting Reviews - Top 10 Web Hosts -
    {{ super() }}
{% endblock %}

{% block content %}
    <div id="home">
        <h1>Top 10 Web Hosts</h1>
        <p>Hosting Choice is a <strong>web hosting review</strong> site.
        If you're looking for a host, you've found the right place. We help
        you sort through the noise and find the host thats perfect for you.</p>
        
        <p>Below you'll find our <strong>Top 10 Web
            Hosts</strong>.</p>

        {% call macros.Leaderboard(top_hosts, 10) %}
        <br />&nbsp;<br />
         <p><strong><a href="/hosts/shared-hosting.html" title="Web Hosting
                Reviews">See More Web Hosts</a></strong></p>
       {% endcall %}
    </div>
{% endblock %}
