{% extends 'base.html' %}

{% block breadcrumbsdiv %}
{% endblock %}

{% block title -%}
    Best Web Hosting - {{ super() }}
{%- endblock %}

{% block sidebar %}
    <h3>Who Are We?</h3>
    <div><p>Hosting Choice helps you find the <strong>best web hosting</strong>.
        If you're looking for a host, you've found the right place.</p>
        <p>We help you sort through the noise and find the <strong>best web
            hosting</strong> thats perfect for you.</p></div>
    {{ super() }}
{% endblock %}

{% block content %}
    <div id="home">
        <h1>Best Web Hosting</h1>
        <p>Here is our pick for the <strong>Top 10 Web
            Hosts</strong>.</p>

        {% call macros.Leaderboard(hosts, 10) %}
       {% endcall %}

       <br />
        <p>Our <a href="/faq.html">FAQ</a> page is a great place to start if you've
        still have questions.</p>
        
    </div>
{% endblock %}
