{%- extends 'base.html' -%}

{% block breadcrumbs %}
    {{ super() }}
    &raquo;
    <strong>Top 10 Web Hosts</strong>
{% endblock %}

{% block title %}
    {% if top_hosts %}
        Top 10 Web Hosts - Top 10 Web Hosting
        {{ super() }}
    {% endif %}
{% endblock %}


{%- block content -%}
    <h1>Top Web Hosts</h1>
    <p>Below you will find our list of the <strong>top 10 web hosts</strong>.
    These hosts are picked by our users to be the best of the best.
    Read the customer reviews to help decide which host is best for you.
    Read our <a href="/faq.html">hosting FAQ</a> for more questions.</p>

    {% call macros.Leaderboard(top_hosts) %}
    {% endcall %}
{%- endblock -%}
