{%- macro Categories() -%}
    {{ caller() }}
{%- endmacro -%}

{%- macro get_rating_class(rating) -%}
    stars{{rating | smart_round | replace('.', '') }} {{ caller() }}
{%- endmacro -%}

{%- macro get_rating_mood(rating) -%}
    {%- if rating == 0 -%}
        unrated
    {%- elif rating < 2.33 -%}
        negative
    {%- elif rating > 3.63 -%}
        positive
    {%- else -%}
        neutral
    {%- endif %} {{ caller() }}
{%- endmacro -%}

{%- macro Ratings(matrix) -%}
    {% for name in matrix %}
    <tr class="{% if loop.last %}nodots{% endif %}">
        <th>{{name}}:</th>
        <td>
            <span class="
                {%- call get_rating_class(matrix[name]) %}stars{% endcall -%}
                "><span>Rating: {{matrix[name]}}/5</span></span>
        </td>
    </tr>
    {% endfor %}
    {{ caller() }}
{%- endmacro -%}

{%- macro Features(matrix) -%}
    {% for feature in matrix %}
    <tr>
        <th>{{feature.type.name}}:</th>
        <td>
            {%- call get_feature(feature) %}
            {% endcall -%}
         </td>
     </tr>
    {% endfor %}
    {{ caller() }}
{%- endmacro -%}

{%- macro get_feature(feature) -%}
    {% if feature.type.name == 'Price' %}
        ${{ feature.value }}
    {% else %}
        {{ feature.value | normalize_size(True) }}
    {% endif %}
    {{ caller() }}
{%- endmacro -%}

{% macro BlogEntry(entry, single) -%}
    <div class="entry" id="entry-{{entry.slug}}">
        {% if single %}
            <h1>{{entry.name}}</h1>
        {% else %}
            <h2><a href="/article/{{entry.slug}}.html">{{entry.name}}</a></h2>
        {% endif %}
        <div class="desc">{{entry.text|markup}}</div>
    </div>
    {{ caller() }}
{% endmacro %}

{% macro RatingToRank(rating) %}
    {{ rating }}
    {{ caller() }}
{% endmacro %}

{%- macro Leaderboard(hosts, limit, more_link) -%}
    <table class="leaderboard" summary="Top Web Hosts Leaderboard">
        {%- if hosts -%}
            <tr>
                <th>#</th>
                <th>Host</th>
                <th><a href="#footnote">Price</a></th>
                <th>Space</th>
                <th>Bandwidth</th>
                <th>Rank</th>
                <th></th>
            </tr>
            {%- for host in hosts %}
                <tr id="{{host.slug}}" class="host_row {{ loop.cycle('odd', 'even') }}
                    {% if loop.index > (limit|default(100)) %}
                        hidden
                    {%- endif -%}
                    ">
                    <td class="rank">{{ loop.index }}.</td>
                    <td class="name">
                        <a name="leaderboard_logo" class="visit" href="{{host.get_visit_url()}}" title="Visit
                            {{host.name}}"><img class="small_logo"
                            src="/media/images/{{host.image}}" title="{{host.name}}" /></a>

                    </td>
                    <td class="price">${{ host.features()['Price'] }}</td>
                    <td>{{ host.features()['Space'] | normalize_size(True) }}</td>
                    <td>{{ host.features()['Bandwidth'] | normalize_size(True) }}</td>
                    <td class="percentage">{{ host.percentage() | smart_round
                        }}%

                        {%- if loop.index == 10 -%}
                            <a name="more"></a>
                        {%- endif -%}
                    </td>

                    <td class="other">
                        <strong>
                            <a name="leaderboard_visit" class="visit"
                                href="{{host.get_visit_url()}}"><span>Visit
                                    Site</span></a>
                        </strong>
                        <span><a href="/host/{{host.slug}}.html">Read
                            Review</a></span>

                    </td>
                </tr>


            {% endfor %}

            {%- if more_link | default(true) -%}
                <tr>
                    <td colspan="6" class="see_more">
                        <strong><a
                            href="#more"
                            title="Web Hosting Reviews">See More Top Web Hosts</a>
                        </strong>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="6" class="footnote">
                    <a name="footnote"></a>
                    <strong>*</strong>
                    Prices are based on a 1 year contract split into monthly
                    payments. See
                    <a href="/faq.html#faq-10">this FAQ item</a>
                    for more information.
                    <br />&nbsp;<br />
                    <a href="/matrix.html" title="Matrix view">Switch to Matrix
                        style view</a>
                </td>
            </tr>
        {% else %}
            No Hosts!
        {% endif %}
    </table>
    {{ caller() }}
{%- endmacro -%}

{% macro Matrix(hosts, limit, more_link) %}
    {% if hosts %}
    <table class="matrix">
        <tr>
            <th>#</th>
            <th>Host</th>
            <th>Overall</th>
            <th><abbr title="Bandwidth">BW</abbr></th>
            <th>Space</th>
            <th>Price</th>
            <th>Features</th>
            <th>Support</th>
            <th>Uptime</th>
        </tr>
        {% for host in hosts %}
            {% set info = host.matrix_info() %}
            <tr class="host_row {% if loop.index > (limit|default(100)) %}
                        hidden{%- endif -%}">
                <td class="rank">{{ loop.index }}</td>
                <td class="name" id="{{ host.name }}"><a
                        href="{{host.get_visit_url()}}?note=matrix"><img
                        src="/media/images/{{host.image}}" title="{{ host.name }}" /></a>
                    {%- if loop.index == 10 -%}
                        <a name="more"></a>
                    {%- endif -%}</td>
                <td class="rank{{ info['percentage'] | get_normal_rank }}"><span>{{ info['percentage'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['bandwidth'] | get_normal_rank }}"><span>{{ info['bandwidth'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['space'] | get_normal_rank }}"><span>{{ info['space'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['price'] | get_normal_rank }}"><span>{{ info['price'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['features'] | get_normal_rank }}"><span>{{ info['features'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['support'] | get_normal_rank }}"><span>{{ info['support'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['uptime'] | get_normal_rank }}"><span>{{ info['uptime'] | get_normal_rank }}%</span></td>
            </tr>
        {% endfor %}
        {%- if more_link | default(true) -%}
            <tr>
                <td colspan="9" class="see_more">
                    <strong><a
                        href="#more"
                        title="Web Hosting Reviews">See More Top Web Hosts</a>
                    </strong>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="footnote" colspan="9"><a href="/leaderboard.html">Switch to Leaderboard
                    style view</a>
            </td>
        </tr>
        {{ caller() }}
    </table>
    {% endif %}
{% endmacro %}
