{%- macro Categories() -%}
    {{ caller() }}
{%- endmacro -%}

{%- macro get_rating_class(rating) -%}
    stars{{rating | smart_round | replace('.', '') }} {{ caller() }}
{%- endmacro -%}

{%- macro get_rating_mood(rating) -%}
    {%- if rating == 0 -%}
        unrated
    {%- elif rating < 2.33 -%}
        negative
    {%- elif rating > 3.63 -%}
        positive
    {%- else -%}
        neutral
    {%- endif %} {{ caller() }}
{%- endmacro -%}

{%- macro Ratings(matrix) -%}
    {% for name in matrix %}
    <tr class="{% if loop.last %}nodots{% endif %}">
        <th>{{name}}:</th>
        <td>
            <span class="
                {%- call get_rating_class(matrix[name]) %}stars{% endcall -%}
                "><span>Rating: {{matrix[name]}}/5</span></span>
        </td>
    </tr>
    {% endfor %}
    {{ caller() }}
{%- endmacro -%}

{%- macro Features(matrix) -%}
    {% for feature in matrix %}
    <tr>
        <th>{{feature.type.name}}:</th>
        <td>
            {%- call get_feature(feature) %}
            {% endcall -%}
         </td>
     </tr>
    {% endfor %}
    {{ caller() }}
{%- endmacro -%}

{%- macro get_feature(feature) -%}
    {% if feature.type.name == 'Price' %}
        ${{ feature.value }}
    {% else %}
        {{ feature.value | normalize_size(True) }}
    {% endif %}
    {{ caller() }}
{%- endmacro -%}

{% macro BlogEntry(entry, single) -%}
    <div class="entry" id="entry-{{entry.slug}}">
        {% if single %}
            <h1>{{entry.name}}</h1>
        {% else %}
            <h2><a href="/article/{{entry.slug}}.html">{{entry.name}}</a></h2>
        {% endif %}
        <div class="desc">{{entry.text|markup}}</div>
    </div>
    {{ caller() }}
{% endmacro %}

{% macro RatingToRank(rating) %}
    {{ rating }}
    {{ caller() }}
{% endmacro %}

{%- macro Leaderboard(hosts, limit, more_link) -%}
    <table class="leaderboard" summary="Top Web Hosts Leaderboard">
        {%- if hosts -%}
            <tr>
                <th>#</th>
                <th>Rank</th>
                <th>Host</th>
                <th>Space</th>
                <th>Bandwidth</th>
                <th>Price<a href="#footnote">*</a></th>
                <th></th>
            </tr>
            {%- for host in hosts %}
                <tr id="{{host.slug}}" class="host_row {{ loop.cycle('odd', 'even') }}">
                    <td class="rank">{{ loop.index }}.</td>
                    <td class="percentage">{{ host.percentage() | smart_round
                        }}%

                    <span>(<a href="/host/{{host.slug}}.html#comments">{{
                        host.comment_set.filter(active=1) | length }}
                        Reviews</a>)</span>
                        {%- if loop.index == 10 -%}
                            <a name="more"></a>
                        {%- endif -%}
                    </td>
                    <td class="name">
                        <a href="{{host.get_absolute_url()}}"><img class="small_logo"
                            src="/media/images/{{host.image}}" title="{{host.name}}" /></a>

                    </td>
                    <td>{{ host.features()['Space'] | normalize_size(True) }}</td>
                    <td>{{ host.features()['Bandwidth'] | normalize_size(True) }}</td>
                    <td>${{ host.features()['Price'] }}</td>
                    <td><a name="host" class="visit" href="{{host.get_visit_url()}}">Visit</a></td>
                </tr>


                {% if loop.index == (limit|default(100)) %}{% break %}{% endif %}
            {% endfor %}

            {%- if more_link | default(true) -%}
                <tr>
                    <td colspan="6" class="see_more">
                        <strong><a
                            href="/hosts/shared-hosting.html#more"
                            title="Web Hosting Reviews">See More Top Web Hosts</a>
                        </strong>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="6" class="footnote">
                    <a name="footnote"></a>
                    <strong>*</strong>
                    Prices are based on a 1 year contract split into monthly
                    payments. See
                    <a href="/faq.html#faq-10">this FAQ item</a>
                    for more information.
                </td>
            </tr>
        {% else %}
            No Hosts!
        {% endif %}
    </table>
    {{ caller() }}
{%- endmacro -%}

{% macro Matrix(hosts) %}
    {% if hosts %}
    <table class="matrix">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Overall</th>
            <th><abbr title="Bandwidth">BW</abbr></th>
            <th>Space</th>
            <th>Price</th>
            <th>Features</th>
            <th>Support</th>
            <th>Uptime</th>
        </tr>
        {% for host in hosts %}
            {% set info = host.matrix_info() %}
            <tr>
                <td class="rank">{{ loop.index }}</td>
                <td class="name" id="{{ host.name }}"><a href="{{host.get_absolute_url()}}">{{ host.name }}</a></td>
                <td class="rank{{ info['percentage'] | get_normal_rank }}"><span>{{ info['percentage'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['bandwidth'] | get_normal_rank }}"><span>{{ info['bandwidth'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['space'] | get_normal_rank }}"><span>{{ info['space'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['price'] | get_normal_rank }}"><span>{{ info['price'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['features'] | get_normal_rank }}"><span>{{ info['features'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['support'] | get_normal_rank }}"><span>{{ info['support'] | get_normal_rank }}%</span></td>
                <td class="rank{{ info['uptime'] | get_normal_rank }}"><span>{{ info['uptime'] | get_normal_rank }}%</span></td>
            </tr>
        {% endfor %}
        {{ caller() }}
    </table>
    {% endif %}
{% endmacro %}
