{%- macro Categories() -%}
    {{ caller() }}
{%- endmacro -%}

{%- macro get_rating_class(rating) -%}
    stars{{rating | smart_round | replace('.', '') }} {{ caller() }}
{%- endmacro -%}

{%- macro get_rating_mood(rating) -%}
    {%- if rating == 0 -%}
        unrated
    {%- elif rating < 2.33 -%}
        negative
    {%- elif rating > 3.63 -%}
        positive
    {%- else -%}
        neutral
    {%- endif %} {{ caller() }}
{%- endmacro -%}

{%- macro Ratings(ratings) -%}
    {% for name in ratings %}
    <tr class="{% if loop.last %}nodots{% endif %}">
        <th>{{name}}:</th>
        <td>
            <span class="
                {%- call get_rating_class(ratings[name]) %}stars{% endcall -%}
            "></span>
        </td>
    </tr>
    {% endfor %}
    {{ caller() }}
{%- endmacro -%}

{%- macro Features(features) -%}
    {% for feature in features %}
    <tr>
        <th>{{feature.type.name}}:</th>
        <td>
            {%- call get_feature(feature) %}
            {% endcall -%}
         </td>
     </tr>
    {% endfor %}
    {{ caller() }}
{%- endmacro -%}


{%- macro Leaderboard(hosts, limit) -%}
    <table class="leaderboard">
        {% if hosts %}
            <tr>
                <th>#</th>
                <th>Rank</th>
                <th>Host</th>
                <th>Features</th>
            </tr>
            {% for host in hosts %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td class="rank">{{ loop.index }}.</td>
                    <td class="percentage">{{ host.percentage() | smart_round }}%
                        <span>(<a href="/host/{{host.slug}}.html#comments">{{
                                host.comment_set.filter(active=1) | length }}
                                Reviews</a>)</span></td>
                    <td class="name"><a href="/host/{{host.slug}}.html">
                    {%- if loop.index == 1 %}
                    <strong>{{ host.name }}</strong>
                    {%- else -%}
                        {{host.name}}
                        {%- endif -%}</a></td>
                    <td class="features">
                        {% for feature in host.feature_set.all() %}
                        <span><strong>{{feature.type.name}}:</strong>
                            {%- call get_feature(feature) %}
                            {% endcall -%}
                        </span>
                        {% endfor %}
                    </td>
                </tr>

                {% if loop.index == (limit|default(100)) %}{% break %}{% endif %}
            {% endfor %}
        {% else %}
            No Hosts!
        {% endif %}
    </table>
    {{ caller() }}
{%- endmacro -%}

{%- macro get_feature(feature) -%}
    {% if feature.type.suffix == 'MB' %}
        {% if feature.value == '0' %}
            Unlimited
        {% else %}
            {{ feature.value | normalize_size }}
        {% endif %}
    {% else %}
        {{feature.type.prefix}}{{feature.value}}{{feature.type.suffix}}
    {% endif %}
    {{ caller() }}
{%- endmacro -%}

{% macro BlogEntry(entry, single) -%}
    <div class="entry" id="entry-{{entry.slug}}">
        {% if single %}
            <h1>{{entry.name}}</h1>
        {% else %}
            <h2><a href="/article/{{entry.slug}}.html">{{entry.name}}</a></h2>
        {% endif %}
        <div class="desc">{{entry.text|markup}}</div>
    </div>
    {{ caller() }}
{% endmacro %}

{% macro RatingToRank(rating) %}
    {{ rating }}
    {{ caller() }}
{% endmacro %}

{% macro Matrix(hosts) %}
    <table id="matrix">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Overall</th>
            <th>Support</th>
            <th>Features</th>
            <th>Uptime</th>
        </tr>
        {% for host in hosts %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ host.name }}</td>
                <td>{{ host.percentage() }}</td>
                <td>{{ host.ratings_rank()['Support'] }}</td>
                <td>{{ host.ratings_rank()['Features'] }}</td>
                <td>{{ host.ratings_rank()['Uptime'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ caller() }}
{% endmacro %}
