{%- extends 'base.html' -%}

{% block breadcrumbs %}
    {{ super() }}
    &raquo;
    <strong>Top 10 Web Hosts</strong>
{% endblock %}

{% block title %}
    {% if top_hosts %}
        Top 10 Web Hosts - Top 10 Web Hosting
        {{ super() }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <h3>Top Hosting Matrix</h3>
    <div>
    <p>This is a matrix of the 10 top providers our index. Its organized
    to be useful visually, to quickly see which hosts excel in which areas.</p>
</div>
    {{ super() }}
{% endblock %}


{%- block content -%}
    <h1>Top 10 Web Hosting Matrix</h1>
    {% call macros.Matrix(top_hosts) %}
    {% endcall %}
{%- endblock -%}
