<div id="leads">
    {% include 'leads.html' %}
</div>
<div>
<h3 class="nomargin">Top 10 Hosts</h3>
<ul id="top_hosts">
    {% for host in hosts %}
        <li{% if loop.index == 1 %} class="strong"{% endif %}><a href="/host/{{host.slug}}.html">{{host.name}}</a>
            <span>({{host.percentage() | smart_round}}%)</span></li>
        {% if loop.index == 10 %}{% break %}{% endif %}
    {% endfor %}
</ul>
</div>

<div id="email_form">
{%- include 'email_form.html' %}
</div>

 <div>
<h3>Site Links</h3>
<ul>
    <li><a href="/leaderboard.html">Top 10 Web Hosts</a></li>
    <li><a href="/matrix.html">Top 10 Web Hosts Matrix</a></li>
    <li><a href="/hosts.html">Hosting Directory</a></li>
    <li><a href="/submit.html">Submit A Host</a></li>
    <li><a href="/blog.html">Blog</a></li>
    <li><a href="/faq.html">FAQ</a></li>
    <li><a href="/sitemap.html">Sitemap</a></li>
    <li><a href="/about.html">About Us</a></li>
</ul>
</div>   

<div id="recent_reviews">
<h3>Recent Reviews</h3>
<ul>
    {% for review in recent_reviews %}
    <li>
        <a title="{{review.host.name}} Review" href="/host/{{review.host.slug}}.html">
            {{review.host.name}} Review</a>
        by {{review.name}}
        <p>{{ review.text | truncate(200) }}</p>
    </li>
    {% endfor %}
</ul>
</div>

<div id="recent_articles">
<h3>Recent Articles</h3>
    {% for article in articles %}
        <div>
            <h4><a href="/article/{{article.slug}}.html"
                    title="{{article.name}}">{{article.name}}</a></h4>
            <p>{{article.text|truncate(400)}}</p>
        </div>
        {% if loop.index == 10 %}{% break %}{% endif %}
    {% endfor %}
    <div id="see_more_blog">
        <a href="/articles.html">See More Blog
                Posts &raquo;</a>
    </div>
</table>
</div>

<div id="features">
    <h3>Features</h3>
    <div><ul>
        {% for feature in features %}
        <li><strong><a href="{{feature.get_absolute_url()}}"
                title="{{ feature.title }}">
                {{ feature.name }} Hosting</a></strong></li>
        {% endfor %}
    </ul></div>
</div>

<div id="tags">
    <h3>Tags</h3>
    <div><ul>
        {% for feature in tags %}
        <li><strong><a href="{{feature.get_absolute_url()}}"
                title="{{ feature.title }}">
                {{ feature.name }}</a></strong></li>
        {% endfor %}
    </ul></div>
</div>

