<div id="sidebar">

    <h3>Top 10 Hosts</h3>
    <ul id="top_hosts">
        {% for host in top_hosts %}
            <li{% if loop.index == 1 %} class="strong"{% endif %}><a href="/host/{{host.slug}}.html">{{host.name}}</a>
                <span>({{host.percentage() | smart_round}}%)</span></li>
        {% endfor %}
    </ul>

    {%- include 'email_form.html' %}
        
    <h3>Recent Reviews</h3>
    <ul>
        {% for review in recent_reviews %}
        <li>
            On <a href="/host/{{review.host.slug}}.html">
                {{review.host.name}}</a>
            by {{review.name}}
        </li>
        {% endfor %}
    </ul>

    <h3>Site Links</h3>
    <ul>
        <li><a href="/leaderboard.html">Top 10 Web Hosts</a></li>
        <li><a href="/hosts.html">Hosting Directory</a></li>
        <li><a href="/submit.html">Submit A Host</a></li>
        <li><a href="/about.html">About Us</a></li>
    </ul>
</div>


