<div id="sidebar">

    <h3>Top Rated Hosts</h3>
    <table class="top_hosts">
        {% for host in top_hosts %}
            <tr>
                <th><a href="/host/{{host.slug}}.html">{{host.name}}</a></th>
                <td>{{host.percentage() | smart_round}}%</</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Recent Reviews</h3>
    <ul id="recent_reviews">
        {% for review in recent_reviews %}
        <li>
            On <a href="/host/{{review.host.slug}}.html">
                {{review.host.name}}</a>
            by {{review.name}}
        </li>
        {% endfor %}
    </ul>

    <h3>Site Links</h3>
    <ul>
        <li><a href="/leaderboard.html">Top 10 Web Hosts</a></li>
        <li><a href="/hosts.html">Hosting Directory</a></li>
        <li><a href="/submit.html">Submit A Host</a></li>
        <li><a href="/about.html">About Us</a></li>
    </ul>
</div>


