{% extends 'base.html' %}

{% block breadcrumbs %}
    {{ super() }}
    &raquo;
{% endblock %}

{% block title %}
    {% if page %}
        {{ page.name }} - 
        {{ super() }}
    {% endif %}
{% endblock %}


{% block content %}
        <script>
        if(typeof(urchinTracker)!='function')document.write('<sc'+'ript src="'+
        'http'+(document.location.protocol=='https:'?'s://ssl':'://www')+
        '.google-analytics.com/urchin.js'+'"></sc'+'ript>')
        </script>
        <script>
        try {
        _uacct = 'UA-75770-5';
        urchinTracker("/0050799212/goal");
        } catch (err) { }
        </script>


{% endblock %}

